{% extends 'base.html' %}

{% block searchbox %}
{# don't show this on anon homepage #}
{% endblock %}

{% block content %}
<div fluid class="home-action home col-12 col-md-6 ml-auto ml-md-auto">
    <div class="home-container">
        <h2>
            <i class="fas fa-feather-alt fa-1x"></i>
        </h2>
        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
        <p>Join Warbler today.</p>
        <p>
            <a href="/signup" class="btn btn-primary col-12">Sign up</a>
        </p>
        <p>
            <a href="/login" class="btn btn-outline-light col-12">Log in</a>
        </p>
    </div>
</div>

<div fluid class="home-hero home col-12 col-md-6 mr-auto mr-md-auto">
    <div class="home-container">
        <h1>What's Happening?</h1>
        <h4>New to Warbler?</h4>
        <p>Sign up now to get your own personalized timeline!</p>
    </div>
</div>

<!-- TODO: fix footer overlap with short views -->
<footer fluid class="home-footer col-12 font-small fixed-bottom">
    <div class="container-fluid text-center">
    <a href=''>Lorem ipsum </a>
    <a href=''>dolor sit </a>
    <a href=''>amet </a>
    <a href=''>consectetur </a>
    <a href=''>adipisicing </a>
    <a href=''>elit </a>
    <a href=''>Excepturi </a>
    <a href=''>aut </a>
    <a href=''>dignissimos </a>
    <a href=''>libero </a>
    <a href=''>error amet </a>
    <a href=''>Natus</a>
    <a href=''>corrupti minima </a>
    <a href=''>veritatis </a>
    <a href=''>sunt id</a>
    </div>
</footer>
{% endblock %}