{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

<div class="login">
    <div class="col-md-10 col-lg-8 mx-auto text-center">
        <h2>
            <i class="fas fa-feather-alt fa-1x"></i>
        </h2>
        <h2 class="login-message">Log in to Warbler</h2>

        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}

            <button class="btn btn-primary btn-block btn-lg">Log in</button>
        </form>
        <div class="login-helper small-text text-muted">
            <!-- TODO: Add password recovery feature -->
            <a href="">Forgot password?</a> 
            ·
            <a href="/signup">Sign up for Warbler</a>
        </div>
    </div>
</div>

{% endblock %}